.about-page {
	color: var(--white);
	padding: 50px;
}

h1 {
	text-align: center;
}

.about {
	display: flex;
	flex-direction: column;
	gap: 20px;
	font-size: var(--font-size-text);
	font-family: var(--font-family-text);
	padding: 50px;
	width: 55%;
	margin: 20px auto;
	background-color: rgba(248, 249, 251, 0.2);
	border-radius: 20px;
	line-height: 1.5;
}

@media (max-width: 480px) {
	.about {
		width: 90%;
		padding: 10px;
		line-height: 1.1;
	}
	}