body {
	height: 100%;
}

.catalog {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 2;
}

.filter-section {
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

.movie-categories {
	margin-left: 2rem;
	padding: 2rem;
	color: var(--white);
	font-family: var(--font-family-title);
	font-size: var(--font-size-h2);
	font-weight: var(--font-weight-bold);
}

.section-colmn {
	padding: 2rem;
}

.catalog-row {
	display: flex;
	gap: 1rem;
	justify-content: flex-start;
	padding: 1rem;
}

.filters {
	display: flex;
	justify-content: center;
	gap: 1rem;
	padding: 1rem;
	background-color: var(--dark-purple);
	padding-top: 2rem;
}

.catalog-btn {
	background: rgba(255, 255, 255, 0.1);
	color: #fff;
	border: none;
	padding: 0.6rem 1.2rem;
	border-radius: 4px;
	font-size: 0.95rem;
	cursor: pointer;
	transition: background 0.25s ease, transform 0.2s ease;
}

.catalog-btn:hover {
	background: rgba(255, 255, 255, 0.2);
	transform: scale(1.03);
}

/* Catalog Cover Background */

.movie-cover {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: background-image 1s ease-in-out;
	color: white;
	font-size: 3rem;
	width: 100%;
	height: 500px;
	aspect-ratio: 2 / 3;
	margin: auto;
	position: relative;
}

.open {
	display: none;
}

.cover-overly {
	inset: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		to bottom,
		rgba(40, 3, 92, 0) 0%,
		rgba(40, 3, 92, 0.07) 76%,
		rgba(40, 3, 92, 1) 100%
	);
	pointer-events: none;
	display: flex;
	flex-direction: colmn;
	align-items: flex-end;
}

.movie-title {
	margin: 20px;
}

.btn-info {
	margin: 20px;
}

.modal-catalog {
	width: 100%;
	min-height: 1440px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-start;
	gap: 20px;
	padding-top: 20px;
}

.resurch-no-results {
	position: absolute;
	top: 50%;
}

/* Movies Catalog background cover */

.movie-cover {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: background-image 1s ease-in-out;
	color: white;
	font-size: 3rem;
	width: 100%;
	height: 500px;
	aspect-ratio: 2 / 3;
	margin: auto;
	position: relative;
}

.cover-overly {
	inset: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		to bottom,
		rgba(40, 3, 92, 0) 0% /* 0% opacity at top */,
		rgba(40, 3, 92, 0.07) 76% /* 7% opacity at 76% */,
		rgba(40, 3, 92, 1) 100% /* fully opaque at bottom */
	);
	pointer-events: none;
	display: flex;
	flex-direction: colmn;
	align-items: flex-end;
}

.movie-title {
	margin: 20px;
}

.btn-info {
	margin: 20px;
}

.main-loading {
	height: 60vh;
	text-align: center;
	padding-top: 10%;
}